body, html {
  width: 100% !important;
}
.filter {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  filter: opacity(0.3);
  -webkit-filter:opacity(0.3);
}

.login-page {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  padding: 0 !important;
  margin: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  filter:grayscale(0);
  font-family: 'Lato', sans-serif;
}

.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  height:50px;
  width: auto;
  margin: auto;
  padding: 10px;
}

.logo-text {
  color:#eee;
  width: 350px;
  margin:auto;
  padding: 30px 30px 10px 30px;
}

.login-form-container {
  padding: 10px 10px 20px 10px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 350px;
  max-width: 350px;
  background: #fff;
  position: relative;
}

.login-form-group {
  width: 100%;
  padding: 5px;
  margin: 0 !important;
}

.login-form-group .btn-group {
  width: 100%;
}

.login-form-group .btn-group button{
  width: 33%;
  border: 1px;
  font-size: 12px;
  font-weight: bold;
}

.login-form-group .btn-group button i{
  margin-right: 10px;
}
.login-form-group button {
  border-radius: 20px;
}

.login-form-group input:nth-child(1) {
  border-radius: 5px 5px 0 0;
}

.login-form-group input:nth-child(2) {
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.login-form-group h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #aaa;
  font-size: 14px;
}

.login-form-group h4 span {
  background-color: #fff;
  padding: 0 10px;
}

.facebook-blue {
  background-color: #3b5998;
  color: #eee;
}

.twitter-blue {
    background-color: #4099FF;
    color: #eee;
}

.google-red {
  background-color: #db3236;
  color: #eee;
}

.bg, .bg1, .bg2, .bg3, .bg4 {
  background-color: #000;
  min-height: 100vh;
  width: 100vw;
  -webkit-transition: background 2s linear;
  -moz-transition: background 2s linear;
  -o-transition: background 2s linear;
  -ms-transition: background 2s linear;
  transition: background 2s linear;
  background-repeat: no-repeat;
  filter: grayscale(100%) blur(1px);
  -webkit-filter: grayscale(100%) blur(1px);
  position:absolute;
  background-attachment: fixed;
  background-position: center;
}

.bg {
  background-image: url(../img/img1.jpeg);
}

.bg1 {
  background-image: url(../img/img2.jpeg);
}

.bg2 {
  background-image: url(../img/img3.jpeg);
}

.bg3 {
  background-image: url(../img/img4.jpeg);
}

.bg4 {
  background-image: url(../img/img5.jpeg);
}

.languages-pane {
  padding: 0px 10px 10px 10px;
}

.languages-pane button {
  border: none;
  background: none;
  padding: 2px;
}

.validation-popup {
  position: absolute;
  background-color: #FFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 5px;
  margin-left: 0;
  margin-top: -30px;
  padding: 10px;
  width: 350px;
}
.login-alert-dialog{
  position: absolute;
  left: 0;
  bottom: 100%;
  margin-bottom: 20px;
  background: #FFF;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}
.dialog-content-wrapper{
  position: relative;
  padding-left: 35px;
}
.login-alert-dialog .dialog-content-wrapper > i{
  color: #ff7d27;
  position: absolute;
  left: 0;
  font-size: 25px;
}
.login-alert-dialog p{
  margin-bottom: 0;
  max-width: 230px;
  font-size: 12px;
  text-align: left;
}
.login-alert-dialog a.close{
  position: absolute;
  right: 0;
  top: -5px;
  color: #ff7d27;
  opacity: 1;
  font-size: 18px;
}
